@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100wh;
  display: flex;
  flex-direction: row;
  background-color: #F2F4FF;
}